In [12]:
import json

import pandas as pd

# Data Analysis

The available data comes from  a small toy dataset based on the [RVL-CDIP Dataset](http://www.cs.cmu.edu/~aharley/rvl-cdip/). The dataset contains 100 documents of 4 classes: 
- “resumee”,
- “invoice”, 
- “letter”, 
- “email.

For each document we have:
- image, 
- PDF 
- OCR in our proprietary dictionary format

The dictionaries come consolidated in the ``document_type_data.csv`` file, alongside with the text of the document:

In [13]:
df = pd.read_csv("./data/document_type_data.csv")
df

,Unnamed: 0,ocr,text,label,file_name
0,0,"{'pageImages': [{'__typename': 'Image', 'width...","['Chaikin, ', 'Karen ', 'n ', ""O' "", 'o ', 'Fr...",email,2085136614c.pdf
1,1,"{'pageImages': [{'__typename': 'Image', 'width...","['> ', 'Jenny, ', 'After ', 'speaking ', 'with...",email,2085136814a.pdf
2,2,"{'pageImages': [{'__typename': 'Image', 'width...","['Please ', 'call ', 'with ', 'any ', 'questio...",email,2085140145a.pdf
3,3,"{'pageImages': [{'__typename': 'Image', 'width...","['2085158326 ', 'Williams, ', 'Carrie ', 'T. '...",email,2085158326.pdf
4,4,"{'pageImages': [{'__typename': 'Image', 'width...","['GJ ', '□3 ', 'A ', 'nice ', 'ending ', 'to '...",email,2085161311b.pdf
...,...,...,...,...,...
95,95,"{'pageImages': [{'__typename': 'Image', 'width...","['CURRICULUM ', 'VITAE ', 'NILANJAN ', 'ROY ',...",resumee,50701639-1640.pdf
96,96,"{'pageImages': [{'__typename': 'Image', 'width...","['BIOGRAPHICAL ', 'SKETCH ', 'Mark ', 'S. ', '...",resumee,50712092-2093.pdf
97,97,"{'pageImages': [{'__typename': 'Image', 'width...","['May. ', '1997 ', 'CURRICULUM ', 'VITAE ', 'E...",resumee,50735851-5852.pdf
98,98,"{'pageImages': [{'__typename': 'Image', 'width...","['I ', 'CURRICULUM ', 'VITAE ', '* ', 'NAbE: '...",resumee,80412888_80412908.pdf
99,99,"{'pageImages': [{'__typename': 'Image', 'width...","['VITA ', 'e-mail ', 'Professor, ', 'School ',...",resumee,98032348_2356.pdf

In [51]:
json.loads(df.loc[0, "ocr"])

JSONDecodeError: Expecting property name enclosed in double quotes: line 1 column 2 (char 1)

**Warning**: there are problems with ``"`` for some fields in the json OCR strings, hence, we will just use ``text`` information available

In [52]:
df["text"]

0     ['Chaikin, ', 'Karen ', 'n ', "O' ", 'o ', 'Fr...
1     ['> ', 'Jenny, ', 'After ', 'speaking ', 'with...
2     ['Please ', 'call ', 'with ', 'any ', 'questio...
3     ['2085158326 ', 'Williams, ', 'Carrie ', 'T. '...
4     ['GJ ', '□3 ', 'A ', 'nice ', 'ending ', 'to '...
                            ...
95    ['CURRICULUM ', 'VITAE ', 'NILANJAN ', 'ROY ',...
96    ['BIOGRAPHICAL ', 'SKETCH ', 'Mark ', 'S. ', '...
97    ['May. ', '1997 ', 'CURRICULUM ', 'VITAE ', 'E...
98    ['I ', 'CURRICULUM ', 'VITAE ', '* ', 'NAbE: '...
99    ['VITA ', 'e-mail ', 'Professor, ', 'School ',...
Name: text, Length: 100, dtype: object